* {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.background-grey {
  background-color: #e0e2e3;
}

.background-lightblue {
  background-color: #e3f2fd;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.inline-block {
  display: inline-block;
}

.no-underline {
  text-decoration: none;
}

.select-box {
  width: 220px;
  height: 36px;
  border-radius: 5px;
  transition: color 0.5s;
}

.font-black {
  color: black;
}

.heights {
  height: 60px;
}

.padding-0-7-20 {
  padding: 0 7px 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-l10 {
  padding-left: 10px;
}

.padding-t20-button {
  padding-top: 20px;
}

.wrapper {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

img {
  width: 100%;
}

.title-font {
  font-size: 16px;
}

.font-yellowtail {
  font-family: Yellowtail, cursive;
  font-size: 40px;
}

.info-para {
  font-size: 16px;
  font-weight: 300;
  overflow: auto;
  margin: 0;
}

.height-100 {
  height: 100%;
}

.height-68 {
  height: 68%;
}

.paragraph-font {
  font-size: 16;
  font-weight: 300;
}

.info-col-padding {
  padding: 5px 5px 5px 7px;
}

button:hover {
  cursor: pointer;
  width: 85%;
}

select:hover {
  cursor: pointer;
  color: lightslategray;
}

h4 {
  width: 100%;
}

a {
  transition: font-size 1s;
}

a:hover {
  font-size: 25px;
  color: rgba(64, 209, 164, 0.42);
  text-decoration: underline;
}

.fav-btn-false {
  width: 75%;
  height: 45px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  background-color: #ff8b8b;
  color: white;
  transition: width 1s;
}

.fav-btn-true {
  width: 75%;
  height: 45px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  background-color: #243a73;
  color: white;
  transition: width 1s;
}

.text-center {
  text-align: center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 5px;
}

.margin-auto {
  margin: auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* ++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 768px) {
  .margin-r35 {
    margin-right: 35px;
  }

  .justify-center-nav {
    justify-content: center;
  }

  img {
    width: 100%;
    max-height: 400px;
  }

  .wrapper {
    height: 440px;
  }

  .nav-height {
    height: 65px;
    line-height: 65px;
  }

  .padding-t20-button {
    padding: 0;
  }
}
